.board {
  width: 85%;
  height: 85%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #0787c7;
  border: 3px solid #62c0e6;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  &__col {
    width: 32%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 4px;
    background-color: #ccd1d3;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    &-list {
      max-height: 84%;
      overflow: auto;
    }
    &-title {
      width: 100%;
      font-size: 20px;
      line-height: 25px;
      margin-left: 5px;
      margin-bottom: 10px;
      &_todo {
        background: url("../../img/todo.png") right 15px center / 25px 25px
          no-repeat;
      }
      &_progress {
        background: url("../../img/progress.png") right 15px center / 25px 25px
          no-repeat;
      }
      &_done {
        background: url("../../img/done.png") right 15px center / 25px 25px
          no-repeat;
      }
    }
    &-btn {
      width: calc(100% - 20px);
      height: 40px;
      display: block;
      margin: 10px;
      font-size: 17px;
      color: #7e7e7e;
      text-align: left;
      border: none;
      background-color: transparent;
      cursor: pointer;
      &:hover {
        margin-left: 9px;
        border: 1px solid #97979753;
        border-radius: 4px;
      }
      &:active {
        margin-left: 10px;
        border: none;
        background-color: #a2c5d183;
      }
    }
  }
}
